---
layout: with_navigation
---

<header>
  <h1 class="print-title">Blog Archive</h1>
</header>

{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}

<div class="timeline-container">
  {% for yearMonth in postsByYearMonth %}
    <h2 class="timeline-date">{{ yearMonth.name }}</h2>
    <ol class="blog-list">
      {% for post in yearMonth.items %}
        <li class="blog-item">
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="blog-item-blurb">{{ post.blurb }}</span>
        </li>
      {% endfor %}
    </ol>
  {% endfor %}
</div>