---
layout: with_navigation
---

<header>
<h1 class="print-title">Library</h1>

<p><b>Reviews contain spoilers</b>. <a href="/review-philosophy">What do the stars mean?</a></p>
</header>

{% assign postsByYearMonth = site.books | reverse | group_by_exp:"book", "book.read | date: '%B %Y'" %}

<div class="timeline-container">
  {% for yearMonth in postsByYearMonth %}
    <h2 class="timeline-date">{{ yearMonth.name }}</h2>
    <ol class="library-index">
      {% for book in yearMonth.items limit: start %}
      	<li class="library-index-item">
      		<div class="library-index-item-meta">
      	  	<span class="library-index-item-author">{{ book.author }}</span>
      		</div>
      		{% assign content = book.content | strip_newlines %}
      		{% if content == "" %}
      			<span class="library-index-item-title">{{ book.title }}</span>
					{% else %}
						<span class="library-index-item-title"><a href="{{ book.url }}">{{ book.title }}</a></span>
					{% endif %}

					{% include book-star-rating.html rating=book.rating %}
      	</li>
      {% endfor %}
    </ol>
  {% endfor %}

  <h2 class="timeline-date">Distant Memory</h2>
  <span class="library-index"><p>Lots of Roald Dahl, Harry Potter, and Garth Nix. One day, I'll re-read <a href="https://en.wikipedia.org/wiki/The_Keys_to_the_Kingdom">The Keys to the Kingdom</a>, and likely realise it's better forgotten.</p></span>
</div>


