:root {
	--masthead-height: 360px;

	font-family: var(--font-sans-serif);
}

header {
	margin-block-end: 1rem;

	h1 {
		margin-top: auto;
		color: var(--bg-color);
	}

	p {
		font-size: 1.6rem;
		margin-top: 0.5rem;
	}
}

.masthead-strip-cv {
	width: 100%;
	height: 360px;
	background-color: var(--accent-color);
	display: flex;
	flex-direction: column; 
}

.top-level-links {
	display: flex;
	align-items: baseline;
	gap: 1rem;
	margin-top: 1rem;

	a {
		color: var(--bg-color);
		text-decoration-color: var(--bg-color);

		&:hover {
			color: var(--link-color);
			text-decoration-color: var(--link-color);
		}
	}

	@media print {
		display: none;
	}
}

.contact {
	display: flex;

	& > * + *::before {
		content: "•";
		padding-inline: 0.5rem;
	}
}

article section {
	margin-block: 2rem;

	ul {
		padding-block: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	li {
		display: flex;
	}


	li::before {
		content: "❯";
		padding-inline: 8px;
	}
}

h2 {
	font-weight: 600;
	margin-block: 1rem;
}

h3 {
	margin-block: 1rem;
	font-weight: 500;
}

.company-timeline-grid {
	display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2rem;
  align-items: baseline;

  @media (max-width: 700px) {
  	grid-template-columns: auto;
  }

	time {
		text-wrap: nowrap;
		font-size: 1.2rem;
		font-weight: 500;
		color: var(--accent-color);
		/*padding-block: 1.2rem;*/
		padding-inline-end: 1.2rem;
	}
}

.company-header {
	display: flex;
	align-items: baseline;
	gap: 1rem;
}

.company-time-range {
	font-style: italic;

}

.small-text {
	margin-block: 2rem;
}

p + p {
	margin-block-start: 1rem;
}

@media print {
	html {
		font-size: 1rem;
	}

	.center {
		padding-inline: 3rem;
	}

	header > .center {
		padding-inline: 5rem;
	}

	.masthead-strip-cv {
		height: 280px;
	}

	footer {
		display: none;
	}

	.page-break { 
		break-after: page; 
	}

	.skills-header {
		padding-top: 6rem;
	}
}


