

.home-page-gallery-label {
	font-size: 2rem;
	font-family: var(--font-sans-serif);
}

.gallery-container {
	position: relative;
	display: flex;
	align-items: center;
}

.gallery {
	display: flex;
	padding-bottom: 1.2rem;
	padding-top: 0.2rem;
	overflow-x: scroll;
	overflow-y: visible;
 	scroll-snap-type: x mandatory;
 	scrollbar-color: var(--accent-color);
}

.gallery-img {
	max-height: 400px;
	margin-inline: 100%;
  scroll-snap-align: center;
  filter: drop-shadow(8px 8px var(--accent-color));
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
}

.gallery-button-left {
	padding: 3rem 1.5rem;
	position: absolute;
	right: 100%;
	margin-right: 1rem;
}

.gallery-button-right {
	padding: 3rem 1.5rem;
	position: absolute;
	left: 100%;
	margin-left: 1rem;
}

button {
	background: transparent;
	color: var(--font-accent-color);
	border: 2px solid var(--font-accent-color);
	border-bottom: 8px solid var(--font-accent-color);
	font-family: var(--font-sans-serif);
	font-size: 2rem;
	cursor: pointer;

	&:hover {
		color: var(--font-accent-color-hover);
		border: 2px solid var(--font-accent-color-hover);
		border-bottom: 8px solid var(--font-accent-color-hover);
	}

	&:active {
		margin-top: 10px;
	}
}

.slight-rot-left {
	rotate: -1deg;
}

.slight-rot-right {
	rotate: 1deg;
}