<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/stylesheet.css">
		<link rel="stylesheet" href="/assets/cv.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ovo&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<meta name="theme-color" content="#ff0000">
	</head>
	
	<body>
		<header>
			<div class="masthead-strip-cv">
				<h1 class="print-title center">Matthew O'Donnell</h1>
			</div>
			<p class="center subtitle">Web programmer, software engineer, communicator.</p>
		</header>

		<main>
			<article class="center">
				<section>
					<h2>Why Hire Me?</h2>
					<p>I care about getting the details right; I will champion the excellence of any project I work on. I have extensive backend experience, but the ability to work (and importantly, communicate effectively) across the stack. I've designed and shipped my own websites, and I've shipped full commercial applications on mobile solo.</p>
				</section>

				<section class="career">
					<h2>Career</h2>

					<span class="company-header">
						<h3>FreeAgent</h3>
						<a href="https://freeagent.com">https://freeagent.com</a>
					</span>

					<div>
						<p>FreeAgent is a platform for small businesses and freelancers to save time when dealing with their accounts. I've delivered many features that are loved by our users. For instance:</p>
						<ul>
							<!-- <li><p>Companies can email bills directly into their FreeAgent account. I was technical lead: responsible for security, architecture, and delivery.</p></li> -->
							<li><p>I rearchitected our onboarding flow, while adding new steps to the journey. I was the technical lead: responsible for security, analytics, and delivery.</p></li>
							<li><p>I delivered a feature to allow companies can import their invoices in bulk, by uploading a CSV. As tech lead, I worked closely with our users and helped shape requirements.</p></li>
							<li><p>I built an API for tech-savvy users to create and manage the rules by which their invoices recur.</p></li>
						</ul>
	
						<p>As a senior engineer, I also define new features through technical writing and cross-team collaboration, mentor and support other engineers, and update stakeholders. I have a particular talent for explaining technical concepts and challenges to non-technical peers.</p>
					</div>

					<span class="company-header">
						<h3>AVAMAE</h3>
						<a href="https://avamae.co.uk">https://avamae.co.uk</a>
					</span>

					<p>AVAMAE is a consulatancy building bespoke websites. During my time with them, I developed in-depth backend expertise:</p>
					<ul>
						<li><p>I was the solo developer for our Payment Gateway, connecting frontend payment portals across our projects to payment providers. This project handles the payment details of hundreds of thousands of users; I needed to consider many failure cases and how to architect the problem to make those cases obvious.</p></li>
						<li><p>Working on a betting website, I helped build an asynchronous stream that pushed odds information to the frontend based on an external data source in real time.</p></li>
					</ul>
				</section>

				<section class="skills">
					<h2>Technical Skills & Interests</h2>

					<p>I work daily with Ruby on Rails. Database calls (to MySQL) are done through ActiveRecord, though I am comfortable with complex SQL queries. I can consider read vs write performance tradeoffs when adding indexes, and investigate performance issues. I also dabble with Swift and SwiftUI (Apple's declarative UI framework) to build mobile apps.</p>

					<p>I use git on the command line for version control, and I maintain a philosophy of shipping small changes quickly. Working on a complex project, I can commit dozens of times a day and deploy daily. All my code is on GitHub, and I a lot of experience giving considerate code review.</p>

					<p>Some of my other technical interests include: modern HTML/CSS (in particular, web accessibility and semantic HTML), .</p>

					<p>In the past, I've worked commercially with C#, .NET Core, C++.</p>
				</section>

				<section class="education">
					<h2>Education</h2>

					<p>I have a masters degree in Mathematics from the University of York, graduating 2019, with first-class honours.</p>
				</section>
			</article>
		</main>

		<footer>
			<p class="center small-text">This CV was written by hand with HTML and CSS. Have a lovely day!</p>
			<div class="footer-strip"></div>
		</footer>
	</body>
</html>