<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.candidate }}'s CV</title>
		<link rel="stylesheet" href="/assets/stylesheet.css">
		<link rel="stylesheet" href="/assets/cv.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<meta name="theme-color" content="#ff0000">
	</head>
	
	<body>
		<header>
			<div class="masthead-strip-cv">
				<p class="center"><a href="/">Back to homepage</a></p>
				<h1 class="print-title center">{{ page.candidate }}</h1>
			</div>
			<p class="center subtitle">{{ page.blurb }}</p>
			<div class="contact center">
				{% if page.email != "" %} <a href="mailto:{{ page.email }}">{{ page.email }}</a> {% endif %}
				{% if page.phone_number != "" %} <span>{{ page.phone_number }}</span> {% endif %}
				{% if page.location != "" %} <span>{{ page.location }}</span> {% endif %}
			</div>
		</header>

		<main>
			{{ page.content }}
		</main>

		<footer>
			<p class="center small-text">This CV was written by hand with HTML and CSS. Have a lovely day!</p>
			<div class="footer-strip"></div>
		</footer>
	</body>
</html>