<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/stylesheet.css">
		<link rel="stylesheet" href="/assets/cv.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ovo&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<meta name="theme-color" content="#ff0000">
	</head>
	
	<body>
		<header>
			<div class="masthead-strip-cv">
				<h1 class="print-title center">Matthew O'Donnell</h1>
			</div>
			<p class="center subtitle">I care about getting the details right. Programmer, software engineer, communicator.</p>
		</header>

		<main>
			<article class="center">
				<section class="career">
					<h2>Career</h2>

					<h3><a href="https://freeagent.com">FreeAgent</a></h3>

					<p>At FreeAgent I've delivered many features that are loved by our users:</p>
					<ul>
						<li>Email to SC.</li>
						<li>Invoice importer.</li>
						<li>SC suggested matches.</li>
						<li>RIP API.</li>
						<li>Redesign of our in-app notification system.</li>
					</ul>

					<p>As a senior engineer, I also mentor and onboard other engineers.</p>

					<h3><a href="https://avamae.co.uk">AVAMAE</a></h3>

					<p>At AVAMAE I had the opportunity to deliver whole projects for our clients.</p>
					<ul>
						<li>Payment Gateway.</li>
						<li>Asynchronous line updates.</li>
					</ul>

					<p>As a senior engineer, I also mentor and onboard other engineers.</p>
				</section>

				<section class="skills">
					<h2>Skills & Interests</h2>

					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
				</section>

				<section class="education">
					<h2>Education</h2>

					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
				</section>
			</article>
		</main>

		<footer>
			<p class="center small-text">This CV was written by hand with HTML and CSS. Have a lovely day!</p>
			<div class="footer-strip"></div>
		</footer>
	</body>
</html>