---
layout: default
---

<header>
	<div class="masthead-strip-container">
		<div class="masthead-strip"></div>
	</div>
	<nav class="center">
		<ul class="navigation">
			<li><a href="/" class="sans-serif">&amp;#39;</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/now">Now</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
<main class="center">
	{{ content }}
</main>
<footer>
	<div class="center footer-inner-container">
		<nav>
			<ul>
				<li><a href="/ai-disclaimer">AI Disclaimer</a></li>
				<li><a href="/ai-disclaimer">Colophon</a></li>
			</ul>
		</nav>
		<p>I <a class="accent-color" href="/blog">write</a> about people, tech, and their regrettable relationship. Subscribe via  <a class="accent-color" href="mailto:mattjamesod@gmail.com" target="_blank"> RSS</a>, or:</p>
	</div>
	<p class="center small-text">As reflection did nothing, resolution must do all.</p>
</footer>