---
layout: default
---

<header class="site-header">
	<div class="masthead-strip"></div>
	<nav class="center">
		<ul class="navigation">
			<li><a href="/" class="sans-serif">&amp;#39;</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/library">Library</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
<main class="center">
	{{ content }}
</main>
<footer>
	<div class="center footer-inner-container">
		<nav>
			<ul class="footer-list">
				<li><a href="mailto:matthew.james.od@gmail.com?subject=Hello">Send me an Email</a></li>
				<li><a href="/ai-disclaimer">AI Disclaimer</a></li>
				<li><a href="/ai-disclaimer">Colophon</a></li>
			</ul>
		</nav>
	</div>
	<div class="footer-strip"></div>
	<p class="center small-text">As reflection did nothing, resolution must do all.</p>
</footer>